@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}
body{
  background-color: lightblue;
}
img{
  width: 250px;
  height: 200px;
  padding: 10px;
}

p{
  width: 400px;
  margin: auto;
  height: auto;
  padding: 10px;
}